/**
*
* styles.css
*
**/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/*----------  Main container  ----------*/
.container {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-areas: "header header header"
						"content content content"
						"footer footer footer";
	grid-template-columns: .5fr 1fr 1fr;
	grid-template-rows: .1fr 1fr .1fr;
}

/*----------  Header sections  ----------*/
.header {
	grid-area: header;
	background: rgb(192, 113, 113);
}

.header-title {
	margin-left: 20px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}

.header-navbar {
	background: rgb(160, 87, 87);
}

.header-top {
	display: flex;
}

.header-form {
	width: 100%;
	margin-right: 15px;
	display: flex;
    align-items: center;
	justify-content: flex-end;	
}

.header-languages {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-languages svg {
	width: 35%;
	height: 35%;
	display: flex;
}

.header-languages svg:hover {
	cursor: pointer;
}

/*----------  Menu categories  ----------*/
.navbar-menu {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.navbar-menu--option {
	padding: 8px 24px;
	text-transform: capitalize;
	color: #fff;
	text-align: center;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.navbar-menu--option:hover {
	cursor: pointer;
	background: rgb(172, 95, 95);
}

/*----------  Search Input  ----------*/
.search-book--label {
	position: relative;
}
	
.search-book--label::before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}
	
.search-book {
	padding: 10px 40px;
    border: none;
	box-shadow: none;
}

.search-book:focus {
	outline: 0;
}

/*----------  Books  ----------*/
.content {
    background: url("../images/background.jpg");
	margin: 4px;
	margin-left: 0px;
	grid-area: content;
	min-height: max-content; 
}

.container-books {
	height: 100%;
	overflow-y: auto;
	position: relative;
}

.container-books::-webkit-scrollbar {
	width: 12px;
	background: rgb(192, 113, 113);
}
	
.container-books::-webkit-scrollbar-thumb {
	background:rgb(160, 87, 87);
}

/*----------  Book Item  ----------*/
.book {
	background: #fff;
	min-height: 200px;
	display: flex;
    margin: 8px 15px;
	padding: 15px;
	-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.22);
}

.book-image {
	height: 100%;
	display: flex;
}

.book-info {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.book-info--title {
	margin: 0;
	margin-left: 12px;
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
}

.book-info--description {
	margin-left: 12px;
}

.book-info--preview-box {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.book-info--preview {
	font-family: Roboto,sans-serif;
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding: 10px;
	background: #c07171;
	font-size: 14px;
	font-weight: bolder;
}

.book-info--preview:hover {
	background: rgb(160, 87, 87);
}

/*----------  Footer ----------*/
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	grid-area: footer;
	background: rgb(172, 95, 95);
}

/*----------  Loading Modal  ----------*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

.modal-main {
	width: 25%;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	background-color: #fefefe;
}

.modal-image {
	margin: auto;
	display: block;
}

.modal-text {
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Roboto', sans-serif;
}